extends /layout.jade
block content

  div.tabs
    ul
      li(style="margin-left:65px;")
        a(href='/?circuit=yes&shop=#{shopName}') Marketing Sources
      li
        a(href='/reporting?circuit=yes&shop=#{shopName}') Reporting
      li
        a(href='/instructions?circuit=yes&shop=#{shopName}') Install

  div.columns
    div.column(style="padding:50px;")
      h2(style="font-size:24;font-weight:bold;") Marketing Sources
      br
      if choices
        table
          tbody
            each selection in choices.selections
              tr
                td(style="height:45px;font-size:16px;padding-left:10px;" data-choice="#{selection}") #{selection}
                td(style="height:45px;font-size:16px;")
                  a(href="/delete?shop=#{shopName}&selection=#{selection}") Delete

    div.column(style="padding:50px;")
      h2(style="font-size:24;font-weight:bold;") Add New Marketing Sources
      br
      3 sources must be added before the dropdown question will show during checkout.
      br
      table
        tr
          td(style="padding-left:15px;" data-choice="#{selection}")
            form(action='/add' id="addselections" name='addselections', method="post")
              textarea(name="selection" rows="10" cols="30" style="font-size:24px;", required)
              input(id="shopName" type="hidden" name='shopName' value="#{shopName}")
              p
              button(type="submit" style="margin:10px;font-size:24px;") Add

script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")