extends /layout.jade
block content

  div.tabs
    ul
      li
        a(href="/") Marketing Sources
      li
        a(href="/reporting") Reporting
  div.columns
    div.column
      h2 Marketing Sources
        if choices
          table
            tbody
              each selection in choices.selections
                tr
                  td(data-choice="#{selection}") #{selection}
                  td
                    a(href="/delete?shop=#{shopName}&selection=#{selection}") Delete

    div.column
      form(action='/add' id="addselections" name='addselections', method="post")
        table
          tbody
            tr
              td
                h2 Add New Marketing Sources
            tr
              td  
                textarea(name="selection" rows="10", required)
                input(id="shopName" type="hidden" name='shopName' value="#{shopName}")
                br
                button(type="submit" style="margin: 10px;") Add

script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")