extends /layout.jade
block content

  div.tabs
    ul
      li(style="margin-left:65px;")
        a(href='/?circuit=yes&shop=#{shopName}') Marketing Sources
      li
        a(href='/reporting?circuit=yes&shop=#{shopName}') Reporting
      li
        a(href='/instructions?circuit=yes&shop=#{shopName}') Install

  div.container(style="margin-left:100px;")
    p Simply copy the following code and insert it after the '{{ tracking_code }}' code in your checkout.liquid file.
    br
    br
    - var foo1 = '<!-- Earpiece App =========================================== -->'
    - var foo2 = '<div id="resonance" style="display: none;">{{checkout.email}}</div>'
    - var foo3 = '<script src="https://how-heard.herokuapp.com/initialize.js"></script>'
    - var foo4 = '<!-- End Earpiece App ======================================== -->'
      | #{foo1}
      br
      | #{foo2}
      br
      | #{foo3}
      br
      | #{foo4}