extends /layout.jade
block content

  div.tabs(style="margin-bottom:0px;")
    ul
      li(style="margin-left:65px;")
        a(href='/?circuit=yes&shop=#{shopName}') Marketing Sources
      li
        a(href='/reporting?circuit=yes&shop=#{shopName}') Reporting
      li
        a(href='/instructions?circuit=yes&shop=#{shopName}') Install


  div(style="background-color:#f5f7fa;padding:15px;padding-bottom:20px;border-bottom:1px solid #d3d6db;")
    form(action="/reporting?circuit=yes&shop=#{shopName}", name="date_submit", onsubmit="return validateForm()", method="post")
      table
        tr
          td(style="vertical-align;bottom;padding-left:10px;padding-right:0px;") 
            span.label From Date
            input(type="text", name="fromdate", id="datepicker-1")
          td(style="vertical-align:bottom;padding-left:0px;padding-right:10px;") 
            span.label To Date
            input(type="text", name="todate", id="datepicker-2")
            input(type="submit", value="submit")
          td(width="100px;" style="vertical-align:bottom;padding-left:10px;padding-right:10px;") &nbsp;
          td(style="vertical-align:bottom;")
            a(href='/export?circuit=yes&shop=#{shopName}' style="text-decoration:underline;color:black;border-style:none;") Data Export
          td(width="100px;" style="vertical-align:bottom;padding-left:10px;padding-right:10px;") &nbsp;
          td(style="vertical-align:bottom;padding-left:10px;padding-right:10px;")
            ul(style="border-style:none;")
              li(style="border-style:none;")
              - if (pageCount > 1)
                span Pages &#58; &nbsp;&nbsp;&nbsp;
                - if (currentPage > 1)
                  - if (fromDate > 0)
                    a(href='/reporting?circuit=yes&shop=#{shopName}&fromDate=#{fromDate}&toDate=#{toDate}&page=1' style='text-decoration:none;') &laquo;
                  - else
                    a(href='/reporting?circuit=yes&shop=#{shopName}&page=1' style='text-decoration:none;') &laquo;
                - var i = 1
                - if (currentPage > 5)
                  - (i = (currentPage-4))
                - if (i !== 1)
                  a(href='#' style='text-decoration:none;') ...
                - for(i; i <= pageCount; ++i)
                  - if (currentPage == i)
                    #{i}&nbsp;&nbsp;
                  - else
                    a(href='/reporting?circuit=yes&shop=#{shopName}&page=#{i}' style='text-decoration:none;') #{i}&nbsp;&nbsp;
                  - if (i == (currentPage+4))
                    a(href='#' style='text-decoration:none;') ...
                - if (currentPage != pageCount)
                  - if (fromDate > 0)
                    a(href='/reporting?circuit=yes&shop=#{shopName}&fromDate=#{fromDate}&toDate=#{toDate}&page=#{pageCount}' style='text-decoration:none;') &raquo;
                  - else
                    a(href='/reporting?circuit=yes&shop=#{shopName}&page=#{pageCount}' style='text-decoration:none;') &raquo;

  table.table
    thead
      tr
        th Date
        th Subtotal
        th Order Number
        th Email
        th First Name
        th Last Name
        th Lifetime Orders
        th LTR
        th City
        th State
        th Country
        th How Heard   
    tbody
      each order in orders
        tr
          td #{order.createdAt}
          td #{order.subtotalPrice}
          td #{order.orderNumber}
          td #{order.customerEmail}
          td #{order.customerFirstName}
          td #{order.customerLastName}
          td #{order.customerOrdersCount}
          td #{order.customerTotalSpent}
          td #{order.customerCity}
          td #{order.customerProvinceCode}
          td #{order.customerCountry}
          td #{order.howHeard}

